{% extends 'base.html' %}
{% block body %}


<main class="container my-4">
    <h2>About ToDo APP</h2>
    <hr>
    <section>
        <h2>Overview</h2>
        <p>Your TODO App is a simple and effective tool to help you manage your tasks and stay organized.</p>
    </section>

    <section>
        <h2>Features</h2>
        <ul>
            <li>Easy task management with a user-friendly interface.</li>
            <li>Add, edit, and delete tasks effortlessly.</li>
            <li>Search functionality to quickly find specific tasks.</li>
            <!-- Add more features as needed -->
        </ul>
    </section>

    <section>
        <h2>Technologies Used</h2>
        <p>Your TODO App is built using the following technologies:</p>
        <ul>
            <li>Flask - A lightweight web framework for Python.</li>
            <li>SQLAlchemy - SQL toolkit and Object-Relational Mapping (ORM) for Python.</li>
            <li>SQLite - A self-contained, serverless, and zero-configuration database engine.</li>
            <!-- Add more technologies as needed -->
        </ul>
    </section>

    <section>
        <h2>Contact</h2>
        <p>If you have any questions or feedback, feel free to contact us at <a href="mailto:asurjuse111@gmail.com">asurjuse111@gmail.com</a>.</p>
    </section>

</main>
{% endblock body %}